<div class="row">
  <div class="columns medium-12">
    <ul data-orbit>
      <li>
        <%= image_tag("examples/satelite-orbit.jpg") %>
        <div class="orbit-caption">
          Caption One.
        </div>
      </li>
      <li class="active">
        <%= image_tag("examples/andromeda-orbit.jpg") %>
        <div class="orbit-caption">
          Caption Two.
        </div>
      </li>
      <li>
        <%= image_tag("examples/launch-orbit.jpg") %>
        <div class="orbit-caption">
          Caption Three.
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns medium-12">
    <a href="#" class="button expand">イベントを検索する</a>
  </div>
</div>

<div class="row">
  <div class="columns medium-3">
    <ul class="side-nav">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>
  <div class="columns medium-9">
    <div class="panel cassette">
      <div class="cols-title">
        <h3>Lovin'パーティー１</h3>
      </div>
      <div class="cols">

        <div class="col-image">
         <%= link_to image_tag('examples/space-th-sm.jpg', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
        </div>

        <div class="col-text">
          <div class="text-row">
            東京　2015年11月15日(日) 18:30～22:30
          </div>
          <div class="text-row">
            男性 5,000円　女性 3,000円
          </div>
          <div class="text-row">
            規模50名
          </div>
          <div class="text-row">
            20代前半〜30代前半
          </div>
        </div>

        <div class="col-button">
          <ul class="button-group">
            <li><a href="#" class="button">詳しく見る</a></li>
            <li><a href="#" class="button">予約する</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="panel cassette">
      <div class="cols-title">
        <h3>Lovin'パーティー１</h3>
      </div>
      <div class="cols">

        <div class="col-image">
         <%= link_to image_tag('examples/space-th-sm.jpg', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
        </div>

        <div class="col-text">
          <div class="text-row">
            東京　2015年11月15日(日) 18:30～22:30
          </div>
          <div class="text-row">
            男性 5,000円　女性 3,000円
          </div>
          <div class="text-row">
            規模50名
          </div>
          <div class="text-row">
            20代前半〜30代前半
          </div>
        </div>

        <div class="col-button">
          <ul class="button-group">
            <li><a href="#" class="button">詳しく見る</a></li>
            <li><a href="#" class="button">予約する</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="panel cassette">
      <div class="cols-title">
        <h3>Lovin'パーティー１</h3>
      </div>
      <div class="cols">

        <div class="col-image">
         <%= link_to image_tag('examples/space-th-sm.jpg', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
        </div>

        <div class="col-text">
          <div class="text-row">
            東京　2015年11月15日(日) 18:30～22:30
          </div>
          <div class="text-row">
            男性 5,000円　女性 3,000円
          </div>
          <div class="text-row">
            規模50名
          </div>
          <div class="text-row">
            20代前半〜30代前半
          </div>
        </div>

        <div class="col-button">
          <ul class="button-group">
            <li><a href="#" class="button">詳しく見る</a></li>
            <li><a href="#" class="button">予約する</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="panel cassette">
      <div class="cols-title">
        <h3>Lovin'パーティー１</h3>
      </div>
      <div class="cols">

        <div class="col-image">
         <%= link_to image_tag('examples/space-th-sm.jpg', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
        </div>

        <div class="col-text">
          <div class="text-row">
            東京　2015年11月15日(日) 18:30～22:30
          </div>
          <div class="text-row">
            男性 5,000円　女性 3,000円
          </div>
          <div class="text-row">
            規模50名
          </div>
          <div class="text-row">
            20代前半〜30代前半
          </div>
        </div>

        <div class="col-button">
          <ul class="button-group">
            <li><a href="#" class="button">詳しく見る</a></li>
            <li><a href="#" class="button">予約する</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="panel cassette">
      <div class="cols-title">
        <h3>Lovin'パーティー１</h3>
      </div>
      <div class="cols">

        <div class="col-image">
         <%= link_to image_tag('examples/space-th-sm.jpg', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
        </div>

        <div class="col-text">
          <div class="text-row">
            東京　2015年11月15日(日) 18:30～22:30
          </div>
          <div class="text-row">
            男性 5,000円　女性 3,000円
          </div>
          <div class="text-row">
            規模50名
          </div>
          <div class="text-row">
            20代前半〜30代前半
          </div>
        </div>

        <div class="col-button">
          <ul class="button-group">
            <li><a href="#" class="button">詳しく見る</a></li>
            <li><a href="#" class="button">予約する</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
