<div class="row">
  <div class="columns medium-12">
    <ul data-orbit>
      <li>
        <%= image_tag("examples/satelite-orbit.jpg") %>
        <div class="orbit-caption">
          Lovin'パーティーとは
        </div>
      </li>
      <li class="active">
        <%= image_tag("examples/andromeda-orbit.jpg") %>
        <div class="orbit-caption">
          パーティーの風景
        </div>
      </li>
      <li>
        <%= image_tag("examples/launch-orbit.jpg") %>
        <div class="orbit-caption">
          イベントの風景
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="columns medium-12">
    <%= link_to "イベントを検索する", { :controller => "events", :action => "index"}, { :class => "button expand" } %>
  </div>
</div>

<div class="row">
  <div class="columns medium-3">
    <ul class="side-nav">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>
  <div class="columns medium-9">
    <div class="panel cassette">
      <div class="event_base">
        <div class="event_area">エリア</div>
        <div class="event_thedate">パーティー開催日時</div>
        <div class="event_agegroup">年令層</div>
      </div>
      <div class="event_title">
        <div class="maintitle">
          <h4>パーティータイトル</h4>
        </div>
        <div class="subtitle">
          <h7>サブタイトル</h7>
        </div>
      </div>
      <div class="event_subcontents">
        <div class="event_image">
         <%= link_to image_tag('examples/150x150.png', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
        </div>
        <div class="subcontents">男性 5,000円　女性 3,000円</div>
        <div class="subcontents">定員100名</div>
      </div>
      <div class="event_join">
        <div class="join_button">
          <a href="#" class="button expand">参加する</a>
        </div>
      </div>
    </div>
    </div>
</div>
