<% breadcrumb :events %>
  <div class="row">
    <div class="columns medium-3">
      <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <a href="#panel1a">絞り込み</a>
          <div id="panel1a" class="content active">
            <div class="search_condition">
              <label>開催日</label>
              <div  id="kaisaidate" class="datepicker" />
            </div>
            <div class="search_condition">
              <label>エリア</label>
              <ul class="small-block-grid-3  medium-block-grid-2 ">
                <% @areaCheckbox.each do |area| %>
                <li><%= check_box_tag "area" , area[0], area[2], :id => "areachk#{area[0]}"%><%= label_tag "areachk#{area[0]}" , area[1] %></li>
                <% end %>
              </ul>
            </div>
            <div class="search_condition">
              <label>フリーワード
                <input type="text" name="fw" id = "fw" placeholder="キーワードを入力してね" value="<%= @fw %>" />
              </label>
            </div>
            </form>
            <div class="search_condition_button">
              <p><input type="button" value="絞り込む" class="button" id="search_event"/></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="columns medium-9">

      <% @events.each do |event| %>
      <div class="panel cassette">
        <div class="event_base">
          <div class="event_area">
          </div>
          <div class="event_thedate">
            <%= event.kaisai_date %>
          </div>
          <div class="event_agegroup">
          </div>
        </div>

        <div class="event_title">
          <div class="maintitle">
            <h4>[<%= event.area_name %>]<%= event.title %></h4>
          </div>
          <div class="subtitle">
            <h7><%= event.sub_title %></h7>
          </div>
        </div>


        <div class="event_subcontents">
          <div class="event_image">
           <%= link_to image_tag('examples/150x150.png', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
          </div>

          <div class="subcontents">
            料金：男性 5,000円　女性 3,000円
          </div>
          <div class="subcontents">
            予定定員：<%= event.teiin %>
          </div>
          <div class="subcontents">
            イベント主催者：<%= event.org_name %>
          </div>
          <div class="subcontents">
            平均年齢層：<%= event.ageGrp_name %>
          </div>
        </div>

        <div class="event_join">
          <div class="join_button">
            <%= link_to "イベント詳細", { :controller => "events", :action => "show", id: event.id}, { :class => "button expand", :target => "_blank" } %>
          </div>
        </div>

      </div>
      <% end %>
      <ul class = "pagination">
        <%= paginate @events %>
      </ul>
    </div>
  </div>
  <script>
  $(function() {
      $("#kaisaidate").datepicker();
      $("#kaisaidate").datepicker("setDate", "<%= @kaisaidate %>");
  });
  </script>
