<div class="row">
  <div class="columns medium-12">
    検索条件エリア
  </div>
</div>

<div class="row">
  <div class="columns medium-3">
  </div>
  <div class="columns medium-9">

    <% @events.each do |event| %>
    <div class="panel cassette">
      <div class="event_base">
        <div class="event_area">
          エリア<%= event.area_cd %>
        </div>
        <div class="event_thedate">
          <%= event.kaisai_date %>
        </div>
        <div class="event_agegroup">
          年令層<%= event.agegroup_cd %>
        </div>
      </div>

      <div class="event_title">
        <div class="maintitle">
          <h4><%= event.title %></h4>
        </div>
        <div class="subtitle">
          <h7><%= event.sub_title %></h7>
        </div>
      </div>


      <div class="event_subcontents">
        <div class="event_image">
         <%= link_to image_tag('examples/150x150.png', { :id => "img_id", :class => "th", :alt => "ほげ"}) %>
        </div>

        <div class="subcontents">
          男性 5,000円　女性 3,000円
        </div>
        <div class="subcontents">
          <%= event.teiin %>
        </div>
      </div>

      <div class="event_join">
        <div class="join_button">
          <a href="#" class="button expand">参加する</a>
        </div>
      </div>

    </div>
    <% end %>
  </div>
  </div>
